<div class="col-sm-12 main_popover">
    <div class="pop pop_price" ng-show="visiblePopupPrice" ng-mouseenter=addPopup(0) ng-mouseleave=addPopupLeave(0)>
        <ul>
            <li ng-repeat="money in arrMoney" ng-click=addCarMoney(money)>Цена до {{money}} $</li>
        </ul>
    </div>
    <!-- ========================================= -->
    <div class="pop pop_marks" ng-show="visiblePopupMark" ng-mouseenter=addPopup(1) ng-mouseleave=addPopupLeave(1)>
        <ul>
            <li ng-repeat="item in carsModels.slice(0,10)">
                <a href="#" ng-click=addCarSearch(item)>{{item}}</a>
            </li>
        </ul>
        <ul>
            <li ng-repeat="item in carsModels.slice(10,20)">
                <a href="#" ng-click=addCarSearch(item)>{{item}}</a>
            </li>
        </ul>
        <ul>
            <li ng-repeat="item in carsModels.slice(20,30)">
                <a href="#" ng-click=addCarSearch(item)>{{item}}</a>
            </li>
        </ul>
        <ul>
            <li ng-repeat="item in carsModels.slice(30)">
                <a href="#" ng-click=addCarSearch(item)>{{item}}</a>
            </li>
        </ul>
    </div>
</div>

