@import "bootstrap.min.css";
@import "media.css";
@import "svg_style.css";
@import "../b-catalog/b-catalog.css";
@import "../b-footer/b-footer.css";
@import "../b-header/b-header.css";
@import "../b-menu/b-menu.css";
@import "../b-popover/b-popover.css";

body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: #f5f6f7;
    color: #999;
}
.media_block_invis{
    display: block;
}

.animation {
    -webkit-transition: 0.3s;
}
.animation.ng-enter {
    opacity: 0;
}
.animation.ng-leave {
    opacity: 1;
}
.animation.ng-enter.ng-enter-active {
    opacity: 1;
}
.animation.ng-leave.ng-leave-active {
    opacity: 0;
}








