@media (min-width: 993px){
    .b-menu{
        display: block;
    }
}
@media (max-width: 992px) {
    .b-header .b-header__btn_filter{
        display: block;
        padding-top: 0;
    }
    .b-header__center-block-header{
        text-align: center;
    }
    .b-header .icon-filter:before {
        content: "\e902";
        font-size: 35px;
        color: #666;
    }
    .b-header__right-block-header__button{
        font-size: 11px;
    }
    .b-header .icon-logo:before{
        font-size: 25px;
    }
    .b-menu{
        display: none;
        padding-left: 15px;
    }
    .b-menu .b-menu__ul{
        padding-left: 15px;
    }
    .b-menu .b-menu__ul__li{
        list-style: none;
        padding: 10px 10px;
        position: relative;
        cursor: pointer;
        margin-left: 0;
    }
    .b-menu .b-menu__ul__li:before{
        content: "";
        height: 1px;
        width: 100%;
        background-color: #dcdcdd;
        display: block;
        position: absolute;
        top: -2px;
        left: 0;
    }
    .b-menu .b-menu__ul__li:last-child:after{
        content: "";
        height: 1px;
        width: 100%;
        background-color: #dcdcdd;
        display: block;
        position: absolute;
        top: 40px;
        left: 0;
    }
    .b-catalog__info{
        font-size: 16px;
    }
    .b-footer__info_footer__studia{
        text-align: center;
        padding: 15px 0;
    }
    .b-footer__info_footer__copyright{
        text-align: center;
    }
    .b-footer__info_footer__pravo{
        text-align: center;
    }
    .b-footer__info_footer__support{
        text-align: center;
    }
}
/*============================== 769px ============================*/
@media (max-width: 769px) {
    .b-header .icon-logo:before {
        content: "\e904";
        font-size: 30px;
        color: #666;
        line-height: 1.5;
        padding-left: 15px;
    }
    .b-header .icon-add:before {
        content: "\e900";
        font-size: 35px;
        color: #666;
        line-height: 1.5;
        padding: 0;
    }
    .b-header__btn_filter{
        padding-top: 0;
        display: block;
    }
    .b-header .icon-filter:before {
        content: "\e902";
        font-size: 35px;
        color: #666;
        line-height: 1.5;
        padding:0 0 0 15px;
    }
    .b-header__center-block-header{
        display: none;
    }
    .b-header__right-block-header{
        display: none;
    }
    .b-header__right-block-header__button{
        font-size: 14px;
    }
    .b-header .b-header__btn_add{
        display: block;
    }
    .b-menu{
        display: none;
    }
    .media_block_invis{
        display: block;
    }
    .b-catalog__price{
        font-size: 40px;
        bottom: 130px;
        left: 30px;
    }
    .b-catalog__info{
        font-size: 24px;
    }
    .b-catalog__car-name-model{
        font-size: 30px;
    }
    .b-catalog__info_footer{
        text-align: center;
    }
    .b-popover__pop__price{
        background-color: #F5F6F7;
        position: absolute;
        border-radius: 3px;
        -webkit-box-shadow:0 1px 5px 0 rgba(0,0,0,0.1);
        -moz-box-shadow:0 1px 5px 0 rgba(0,0,0,0.1);
        -ms-box-shadow:0 1px 5px 0 rgba(0,0,0,0.1);
        -o-box-shadow:0 1px 5px 0 rgba(0,0,0,0.1);
        box-shadow:0 1px 5px 0 rgba(0,0,0,0.1);
        padding: 20px;
        left: 0;
        z-index: 100;
    }
    .b-popover__pop__marks{
        background-color: #F5F6F7;
        position: absolute;
        border-radius: 3px;
        -webkit-box-shadow:0 1px 5px 0 rgba(0,0,0,0.1);
        -moz-box-shadow:0 1px 5px 0 rgba(0,0,0,0.1);
        -ms-box-shadow:0 1px 5px 0 rgba(0,0,0,0.1);
        -o-box-shadow:0 1px 5px 0 rgba(0,0,0,0.1);
        box-shadow:0 1px 5px 0 rgba(0,0,0,0.1);
        padding: 20px;
        left: 0;
        z-index: 100;
    }

    .b-popover__pop__price :after {
        content: "";
        border-width: 10px;
        top: -20px;
        left: 40px;
        border-left-width: 10px;
        position: absolute;
        border-style: solid;
        border-color: transparent transparent #ffffff transparent;
    }
    .b-popover__pop__marks{
        content: "";
        border-width: 10px;
        top: -20px;
        left: 40px;
        border-left-width: 10px;
        position: absolute;
        border-style: solid;
        border-color: transparent transparent #ffffff transparent;
    }
    .b-popover__pop__price{
        top: 52px;
    }
    .b-popover__pop__marks{
        top: 92px;
    }
    .b-footer__info_footer__studia{
        text-align: center;
        padding-right: 0;
    }
    .b-footer__info_footer__pravo{
        padding: 10px 0;
    }
    .b-footer__nav{
        text-align: center;
    }
}
@media (max-width: 501px){
    .b-catalog__price{
        font-size: 40px;
        bottom: 110px;
        left: 30px;
    }
    .b-catalog__info{
        font-size: 20px;
    }
    .b-catalog__car-name-model{
        font-size: 24px;
    }
}
@media (max-width: 321px){
    .b-header .icon-logo:before {
        content: "\e904";
        font-size: 20px;
        color: #666;
        line-height: 1.5;
        padding: 15px 0 0 0;
    }
    .b-header .icon-add:before {
        content: "\e900";
        font-size: 35px;
        color: #666;
        line-height: 1;
        padding: 0;
    }
    .b-header .icon-filter:before {
        content: "\e902";
        font-size: 35px;
        color: #666;
        line-height: 1;
        padding:0 0 0 15px;
    }
    .b-catalog__price{
        font-size: 30px;
        bottom: 90px;
        left: 25px;
    }
    .b-catalog__info{
        font-size: 14px;
    }
    .b-catalog__car-name-model{
        font-size: 18px;
    }

}
